@import 'bulma/bulma';
@import '../scss//loading//loading.scss';
@import '../scss//newsfeed/feedblock.scss';


html,
body {
    padding: 0;
    margin: 0;
    background-color: #F4F4F4;
    .navbar {
      background-color: #F4F4F4;
    }
    z-index: 0;
}

.light-mode {
    background-color: #F4F4F4;
    color: #333;
    transition: background-color 0.3s ease;
    .column {
      article {
        background-color: whitesmoke;
      }
    }
    .navbar {
      background-color: #F4F4F4;
    }
  }
.dark-mode {
    background-color: #1a1919;
    color:whitesmoke;
    .column {
      article {
        background-color: purple;
      }
      h2 {
        color: white;
      }
     
     
    }
     .hero.is-fullheight.is-primary.is-bold {
          background-image: none;
          background-color: black;

        }
     .navbar {
      background-color: #1a1919;
      a {
        color: white;
      }
      a:hover {
        background-color: purple;
      }
      a.is-light {
        color:black
      }
    } 
      
   
  }