@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";


.column {
    article {
        border-radius: 20px;
    }
    img {
        border-radius: 10px;
        width: 240px;
        height: 135px;
    }
}
